*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left{
  background-color: #000000;
  position: relative;
}

.left .code,
.code pre{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color:#0c0c0c;
}

main .left .review{
  background-color: rgb(219, 219, 255);
  color: black;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease, color 0.3s ease;
} 
main .left .review:hover{
  color: gray;
}
main .left .review:active{
  transform: scale(1.1); /* Enlarges button when clicked */
}

main .right{
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
}

/* loader */
.loader {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
